<a href="https://colab.research.google.com/github/JosueSandovalZT/py---2---Josu-Zabdiel-Sandoval-Tinoco/blob/main/py_2_Josu%C3%A9_Aldo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#JuevesLab1

###Equipo:
####Josué Zabdiel Sandoval Tinoco
####Aldo Ivan Martinez Castro

In [ ]:
# Práctica de Analítica de Datos: Tipos y Operaciones Básicas

# Objetivo: Consolidar el conocimiento sobre los tipos de datos (numéricos, cadenas, booleanos), y aplicar operaciones aritméticas, relacionales y lógicas para resolver problemas de análisis de datos sencillos.

# Parte 1. Tipos de datos

#	Define tres variables:
#		- Un número entero (int) con tu edad.
mi_edad = int(18)

#		- Un número decimal (float) con tu altura en metros.
mi_altura = float(1.83)

#		- Una cadena de texto (str) con tu nombre completo.
mi_nombre = str("Josué Zabdiel Sandoval Tinoco")

#	Pregunta: ¿qué función en Python permite conocer el tipo de dato de una variable? Úsala para mostrar los resultados.
type(mi_edad)
type(mi_altura)
type(mi_nombre)

str

In [ ]:
type(mi_nombre)

str

In [ ]:
# Parte 2. Operaciones aritméticas

#	Supón que compras 3 productos con precios: 125.50, 89.99 y 39.75.
#		- Calcula el total de la compra.
#		- Aplica un descuento del 15%.
#		- Calcula el IVA del 16% sobre el precio con descuento.
#		- Obtén el total final a pagar.
producto1 = 125.50
producto2 = 89.99
producto3 = 39.75
total_de_mi_compra = producto1 + producto2 + producto3
total_compra_con_descuento = total_de_mi_compra * 0.85
iva = total_compra_con_descuento * 0.16
total_final = total_compra_con_descuento + iva

#	¿Qué operador usarías para obtener el residuo de dividir 125 entre 12?
#		Escríbelo y ejecútalo en código.
residuo = 125 % 12

In [ ]:
residuo

5

In [ ]:
# Parte 3. Operaciones relacionales

#	Con los datos anteriores:
#		- Verifica si tu edad es mayor a 18.
verifica_edad = mi_edad > 18

#		- Comprueba si el precio más alto es mayor que 100.
verifica_costo = producto1 > 100

#		- Evalúa si el total final de la compra es menor o igual a 200.
verifica_compra_final = total_final <= 200

In [ ]:
verifica_compra_final

False

In [8]:
# Parte 4. Operaciones lógicas

#	Crea dos variables booleanas:
#		- pago_tarjeta = True
#		- tiene_descuento = False
#		- Evalúa las siguientes expresiones:
#		- ¿El cliente pagó con tarjeta y tiene descuento?
#		- ¿El cliente pagó con tarjeta o tiene descuento?
#		- Niega el valor de tiene_descuento.
pago_tarjeta = True
tiene_descuento = False

if pago_tarjeta and tiene_descuento:
  print("El cliente pagó con tarjeta y tiene descuento")
else:
  print("El cliente no pagó con tarjeta y no tiene descuento")

if pago_tarjeta or tiene_descuento:
  print("El cliente pagó con tarjeta o tiene descuento")
else:
  print("El cliente no pagó con tarjeta o no tiene descuento")

if not tiene_descuento:
  print("El cliente no tiene descuento")
else:
  print("El cliente tiene descuento")

El cliente no pagó con tarjeta y no tiene descuento
El cliente pagó con tarjeta o tiene descuento
El cliente no tiene descuento

In [10]:
# Parte 5. Integración
#		Redacta un programa en Python que:
#   	-	Solicite al usuario:
#			- Edad
#			- Altura
#				- Monto de una compra
#		Muestre en pantalla:
#				- El tipo de cada dato ingresado.
#				- Si el usuario es mayor de edad.
#				- Si la compra excede los $500.
#				- Si el usuario es mayor de edad y su compra excede $500.
edad = int(input("¿Cuál es tu edad? "))
altura = float(input("¿Cuál es tu altura? "))
monto_compra = float(input("¿Cuánto es el monto de tu compra? "))
print(type(edad))
print(type(altura))
print(type(monto_compra))
print(edad >= 18)
print(monto_compra > 500)
print(edad >= 18 and monto_compra > 500)

¿Cuál es tu edad? 18
¿Cuál es tu altura? 1.83
¿Cuánto es el monto de tu compra? 501.99
<class 'int'>
<class 'float'>
<class 'float'>
True
True
True

In [ ]:
edad: int = 18
edad_mitad = edad / 2
potencia = edad_mitad ** 3
division = potencia / 3

entera = division // 3
residuo = division % 3

In [ ]:
division

243.0